!!!
%html
  %head
    %title Git test
    %link{ href: '/css/bootstrap.min.css', media: "all", rel: "stylesheet", type: "text/css" }
    %link{ href: '/css/bootstrap-theme.css', media: "all", rel: "stylesheet", type: "text/css" }
    %link{ href: '/css/simple.css', media: "all", rel: "stylesheet", type: "text/css" }
    %srcipt{ src: '/js/bootstrap.min.js', type: "text/javascript" }
  %body
    =yield
