.wrap
  .container
    .page-header
      %h1 about #{@org_data['name']}
      %p
        %a{ href: @org_data['blog'] }
          blog,
        %a{ href: @org_data['html_url'] }
          github,
        public repos: #{@org_data['public_repos']},
        public gists: #{@org_data['public_gists']}

    .row
      .col-md-12
          
  #footer
    .container
      .row
        %p
        %form.form-inline{ role: 'form', action: '/s', method: 'get', id: 'main', name: 'main' }
          .form-group.col-sm-10
            %input.form-control{ type: 'text', placeholder: 'https://github.com/sinatra/sinatra/ or just rails', dir: 'ltr', spellcheck: 'false', name: 'p' }
          .form-group
            %button.btn.btn-default{ type: 'submit' } Go
