.wrap
  .container
    %p
    .jumbotron
      %form.form-inline{ role: 'form', action: '/s', method: 'get', id: 'main', name: 'main' }
        .form-group.col-sm-10
          %input.form-control{ type: 'text', placeholder: 'https://github.com/sinatra/sinatra/ or just /sinatra/sinatra/', dir: 'ltr', spellcheck: 'false', name: 'p' }
        .form-group
          %button.btn.btn-default{ type: 'submit' } Go
